.Overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 9999; /* Ensure the overlay appears above other content */
    display: flex;
    justify-content: center;
    align-items: center;

    .Modal{
        height: 250px;
        width: 300px;
        background-color: #fefefe;
        border-radius: 12px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        color: #383836;

        .X{
            position: absolute; top: 0; right: 0;
            padding: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .X:hover{
            cursor: pointer;
        }

        .MailIcon{
            width: 65px;
            margin-top: 50px;
        }

        .Button{
            border: none;
            margin-top: 20px;
            background-color: #383836;
            color: white;
            border-radius: 8px;
            font-size: 18px;
            height: 35px;
        }

        .Button:hover{
            cursor: pointer;
            background-color: #474745;
        }
    }
}